{% extends "main/base.html" %}


{% block head %}
<title>Поменять пароль</title>
{% endblock head %}

{% block content %}
<div class="container">

	<form action="{% url 'main:change_password' %}" method="post">
		{% csrf_token %}
		<input type="text" placeholder="Старый пароль" name="old_password"/><br>
		<input type="text" placeholder="Новый пароль" name="new_password1"/><br>
		<input type="text" placeholder="Повторите новый пароль" name="new_password2"/>
		<button type="submit">Отправить</button>
	</form>

</div>
{% endblock content %}
