{% extends "main/base.html" %}


{% block head %}
<title>Поменять пароль</title>
{% endblock head %}

{% block content %}
<!-- <div class="container">
	
	<div class="row">
		
		<div class="col-md-4">
			<form action="{% url 'main:change_password' %}" method="post">
				{% csrf_token %}
				
				<div class="row">
					<div class="col-md-6"><label for="old_password" class="form_label">Старый пароль</label></div>
					<div class="col-md-6"><input type="password"  type="password" name="old_password"/></div>
				</div>
				
				<div class="row">
					<div class="col-md-6"><label for="new_password1" class="form_label">Новый пароль</label></div>
					<div class="col-md-6"><input type="password" placeholder="Новый пароль" name="new_password1"/></div>
				</div>

				
				<div class="row">
					<div class="col-md-6"><label for="new_password2" class="form_label">Повторите новый пароль</label></div>
					<div class="col-md-6"><input type="password" placeholder="Повторите новый пароль" name="new_password2"/></div>
				</div>
				

				<button type="submit">Поменять пароль</button>
			</form>
		</div>
	</div>
</div> -->

<div class="container">
	<!-- <div class="row">
		<div class="col-sm-12">
			<h1>Смена пароля</h1>
		</div>		
	</div> -->

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			
			<form action="{% url 'main:change_password' %}" method="post" id="passwordForm">
				{% csrf_token %}
				
				<input type="password" class="input-md form-control form_input" name="old_password" id="password1" placeholder="Старый пароль" autocomplete="off">

				<input type="password" class="input-md form-control form_input" name="new_password1" id="password1" placeholder="Новый пароль" autocomplete="off">
				
				<input type="password" class="input-md form-control form_input" name="new_password2" id="password2" placeholder="Повторите новый пароль" autocomplete="off">
				
				<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-md" data-loading-text="Changing Password..." value="Поменять пароль">
			</form>
		</div><!--/col-sm-6-->
	</div><!--/row-->
</div>
{% endblock content %}
